/* Reset CSS */
@font-face {
  font-family: "WinkyRough";
  src: url("../assets/fonts/WinkyRough.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #f4f3ee;
  --secondary-color: #343a40;
  --box-shadow-color: rgba(0, 0, 0, 0.4);
  --default-radius: 15px;
  --overlay-color: rgba(0, 0, 0, 0.2);
  --header-text-color: #14213d;
  --details-text-color: #adb5bd;
}
/* Reset CSS */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  justify-items: center;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "WinkyRough", sans-serif;
}

img {
  width: 100%;
  border-radius: var(--default-radius);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  border-radius: var(--default-radius);
  width: 80%;
  padding: 15px;
  margin: 5px auto;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: relative;
  overflow: hidden;
  z-index: 100;
}

button::before {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  border-radius: var(--default-radius);
  top: 0;
  right: 200px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
  z-index: -100;
}

button:hover::before {
  animation: mOver 0.9s ease-out forwards;
}

button:hover {
  color: var(--secondary-color);
}

@keyframes mOver {
  100% {
    opacity: 1;
    right: 0;
  }
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 22px;
}

i {
  color: var(--primary-color);
}

::selection {
  background-color: black;
  color: white;
}
/* End of Rest CSS */
/* Public Classes */
.box {
  border-radius: var(--default-radius);
  box-shadow: 3px 3px 30px 1px var(--box-shadow-color);
}
/* End Public Classes */
/* Body */
div.main {
  width: 90%;
  margin: 150px auto;
  height: fit-content;
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  justify-items: center;
}

/* Header and Footer */
div.main div.titleHF {
  width: 80%;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  border-radius: var(--default-radius);
}
/* End Of Header and Footer */

/* Body */
div.main div.body {
  width: 80%;
  margin: 50px auto;
  height: fit-content;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Aside */
div.main div.body div.aside {
  width: 18%;
  height: 70vh;
}

div.main div.body div.aside ul.menu {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}

div.main div.body div.aside ul.menu li.box {
  text-align: center;
}

div.main div.body div.aside ul.menu li.box a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 15px;
  border-radius: var(--default-radius);
  font-size: 16px;
  line-height: 1.6em;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

div.main div.body div.aside ul.menu li.box a::before {
  content: "";
  position: absolute;
  background-color: var(--overlay-color);
  border-radius: var(--default-radius);
  top: 0;
  right: 300px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

div.main div.body div.aside ul.menu li.box a:hover::before {
  animation: mOver 0.9s ease-out forwards;
}
/* End Of Aside */

/* Content */
div.main div.body div.content {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  gap: 15px;
  padding: 10px;
}

div.main div.body div.content div.card {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  justify-items: center;
  background-color: white;
  border-radius: var(--default-radius);
}

div.main div.body div.content div.card div.card-header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px 15px;
}

div.main div.body div.content div.card div.card-content p {
  text-align: justify;
  padding: 10px;
  font-size: 14px;
  word-break: break-all;
}

div.main div.body div.content div.card div.button {
  text-align: center;
}
/* End Of Content */
/* End Body */
